<div class="container">
    <div class="col-6 mx-auto mt-3">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <button type="button" class="btn btn-primary" style="margin-right: 1rem;"
            (click)="onLoginClick()">Login</button>
        <button type="button" class="btn btn-secondary" (click)="onSignUp()">Signup</button>
    </div>
</div>